@{
	Layout = "ProductLayout";
}

<div class="row">
	<div class="col-3 container-fluid">
		<img src="~/img/Product/YSL1968BOLD.png" class="img-fluid" />
	</div>
	<div class="col-9 container-fluid">
		<h4>Son YSL The Bold 1968 Statement</h4>
		<p style="color: coral">950.000đ</p>
		<p>
			Có những màu son thiên về cổ điển và truyền thống thì bất kỳ cô gái nào cũng biết; nhưng màu hồng trà sữa của son YSL The Bold 1968 thì dù
			có vừa mới ra thì ai ai cũng nhận ra ngay. màu son hồng nâu phối kết hợp vừa phải; đem đến một cảm giác ngọt ngào khó tả. Sự hiện diện của sắc
			hồng trà sữa của son YSL màu 1968 trên môi khiến nàng vừa nữ tính, vừa ngọt ngào mà diện mạo lại trông có phần trẻ trung trung hơn dù bạn
			đang ở độ tuổi nào đi chăng nữa.
		</p>
		<p><strong>Xuất xứ: Pháp</strong></p>
		<p><strong>Thương hiệu: YSL</strong></p>
		<p>
			<strong>
				Dòng: Son YSL Rouge Pur Couture The Bold
			</strong>
		</p>		
		<input type="button" name="addtocart" value="Thêm vào giỏ hàng" class="btn" style="color: white; background-color: coral; padding: 10px" />
		<input type="button" name="buy" value="Mua ngay" class="btn" style="color: white; background-color: hotpink; padding: 10px" />
	</div>
</div>