@{
	Layout = "ProductLayout";
}

<div class="row">
	<div class="col-3 container-fluid">
		<img src="~/img/Product/YSL153.png" class="img-fluid" />
	</div>
	<div class="col-9 container-fluid">
		<h4>Son YSL 153 Chili Provocation</h4>
		<p style="color: coral">830.000đ</p>
		<p>Son YSL 153 Chili Provocation màu đỏ đất, được mệnh danh là “nữ hoàng trong các màu son”. Màu son đỏ đất mang sắc tố đậm, góp phần che
		khuyết điểm hoàn hảo cho bờ môi phái đẹp. Chất son cao cấp, với công thức pha trộn đặc biệt cùng nhiều dưỡng chất quý. Mang lại độ che phủ
		thần thánh cho bờ môi luôn đầy đặn gợi cảm liên tục 6 giờ đồng hồ. Son YSL Rouge Pur Couture Satin 153 lên màu cực chuẩn, son tệp chặt vào
			môi chỉ sau một lần tô. Nhưng luôn đem lại cảm giác mỏng nhẹ như lụa, không gây nặng môi, giữ môi luôn mềm mịn suốt ngày dài.
		</p>
		<p><strong>Xuất xứ: Pháp</strong></p>
		<p><strong>Thương hiệu: YSL</strong></p>
		<p><strong>BST: Rouge Pur Couture Satin</strong></p>
		<p><strong>Trọng lượng: 3.8g</strong></p>
		<input type="button" name="addtocart" value="Thêm vào giỏ hàng" class="btn" style="color: white; background-color: coral; padding: 10px" />
		<input type="button" name="buy" value="Mua ngay" class="btn" style="color: white; background-color: hotpink; padding: 10px" />
	</div>
</div>