@{
    Layout = "ProductListLayout";
}

<div class="row">
	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/LancomeRenergie.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Dưỡng chất (Serum) tươi 3 lõi ngăn ngừa lão hóa Lancôme Renergie Triple Serum 50ml

				</h5>
				<p style="color: coral">4.450.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Clarifique.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Sữa Rửa Mặt Làm Sáng & Cải Thiện Lỗ Chân Lông Clarifique 125ml

				</h5>
				<p style="color: coral">1.500.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Kiehl'sRare.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Mặt nạ đất sét Kiehl's Rare Earth Deep Pore Cleansing Masque 28ml

				</h5>
				<p style="color: coral">550.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Kiehl'sCalendula.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa rửa mặt tạo bọt làm sạch sâu Kiehl 's Calendula 230ml

				</h5>
				<p style="color: coral">955.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/BelifCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Belif The True Cream Aqua Bomb 50ml

				</h5>
				<p style="color: coral">818.400đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RetinolLuna.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu dưỡng da Retinol ban đêm Luna Sleeping Night Oil

				</h5>
				<p style="color: coral">2.400.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/MACGlowPlay.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Son dưỡng MAC GlowPlay Tendertalk Lip Balm

				</h5>
				<p style="color: coral">645.000đ</p>
			</a>
		</div>
	</div>
</div>