@{
    Layout = "ProductListLayout";
}

<div class="row">
	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/JmellaBodyWash.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa Tắm Dưỡng Ẩm Hương Nước Hoa Jmella In France Body Wash

				</h5>
				<p style="color: coral">165.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/SheaButter.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa Dưỡng Thể Giàu Ẩm Bơ Đậu Mỡ Shea Butter Rich Body Lotion

				</h5>
				<p style="color: coral">1.050.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RmonWhiteCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Kem Dưỡng Trắng Da Body Tế Bào Gốc Rmon White Cream

				</h5>
				<p style="color: coral">449.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/PaulaChoice.jpg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Paula Choice - 2%BHA body treatment

				</h5>
				<p style="color: coral">774.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/ArtichokeScrub.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Tẩy Tế Bào Chết Toàn Thân Chiết Xuất Lá Atisô Artichoke Body Scrub

				</h5>
				<p style="color: coral">1.364.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Clarins.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Kem dưỡng thể Body Lotion Clarins 300ml
				</h5>
				<p style="color: coral">490.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Neutrogena.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sẵn Dưỡng thể Neutrogena Body Oil Light Seasame Formula
				</h5>
				<p style="color: coral">250.000đ</p>
			</a>
		</div>
	</div>
</div>