@{
	Layout = "ProductListLayout";
}

<div class="row">
	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSL153" style="text-decoration: none">
				<img src="~/img/Product/YSL153.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL 153 Chili Provocation</h5>
				<p style="color: coral">830.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSL1968BOLD" style="text-decoration: none">
				<img src="~/img/Product/YSL1968BOLD.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Bold 1968 Statement</h5>
				<p style="color: coral">950.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLTheSlim2" style="text-decoration: none">
				<img src="~/img/Product/YSLTheSlim2.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Slim 2024 Fiery Vermilion</h5>
				<p style="color: coral">799.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLTheSlim307" style="text-decoration: none">
				<img src="~/img/Product/YSLTheSlim307.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Slim 307 Fiery Spice</h5>
				<p style="color: coral">849.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLN8Blouse" style="text-decoration: none">
				<img src="~/img/Product/YSLN8Blouse.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL N8 Blouse Nu</h5>
				<p style="color: coral">849.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/CushionDior.jpg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Cushion Dior Forever Perfect Cushion Diormania Gold
				</h5>
				<p style="color: coral">1.299.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/CleDePeau.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Kem Lót Nền Clé De Peau Beauté Long-Lasting Hydrating Veil
				</h5>
				<p style="color: coral">1.350.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/ChanelCCCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">


					Kem Nền Chanel CC Cream Complete Correction SPF50 30ML

				</h5>
				<p style="color: coral">1.499.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RoseHermes.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Phấn Má Cao Cấp Rose Hermès Silky Blush Powder 37 Rose Poivre

				</h5>
				<p style="color: coral">1.499.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/DiorBackstage.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Phấn Má Dior Backstage Rosy Glow Màu 004 Coral

				</h5>
				<p style="color: coral">999.000đ</p>
			</a>
		</div>
	</div>
</div>