@{
	Layout = "ProductListLayout";
}
<div class="row">
	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSL153" style="text-decoration: none">
				<img src="~/img/Product/YSL153.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL 153 Chili Provocation</h5>
				<p style="color: coral">830.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSL1968BOLD" style="text-decoration: none">
				<img src="~/img/Product/YSL1968BOLD.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Bold 1968 Statement</h5>
				<p style="color: coral">950.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLTheSlim2" style="text-decoration: none">
				<img src="~/img/Product/YSLTheSlim2.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Slim 2024 Fiery Vermilion</h5>
				<p style="color: coral">799.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLTheSlim307" style="text-decoration: none">
				<img src="~/img/Product/YSLTheSlim307.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL The Slim 307 Fiery Spice</h5>
				<p style="color: coral">849.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product/YSLN8Blouse" style="text-decoration: none">
				<img src="~/img/Product/YSLN8Blouse.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">Son YSL N8 Blouse Nu</h5>
				<p style="color: coral">849.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/CushionDior.jpg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Cushion Dior Forever Perfect Cushion Diormania Gold
				</h5>
				<p style="color: coral">1.299.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/CleDePeau.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Kem Lót Nền Clé De Peau Beauté Long-Lasting Hydrating Veil
				</h5>
				<p style="color: coral">1.350.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/ChanelCCCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">


					Kem Nền Chanel CC Cream Complete Correction SPF50 30ML

				</h5>
				<p style="color: coral">1.499.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RoseHermes.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Phấn Má Cao Cấp Rose Hermès Silky Blush Powder 37 Rose Poivre

				</h5>
				<p style="color: coral">1.499.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/DiorBackstage.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Phấn Má Dior Backstage Rosy Glow Màu 004 Coral

				</h5>
				<p style="color: coral">999.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/LancomeRenergie.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Dưỡng chất (Serum) tươi 3 lõi ngăn ngừa lão hóa Lancôme Renergie Triple Serum 50ml

				</h5>
				<p style="color: coral">4.450.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Clarifique.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Sữa Rửa Mặt Làm Sáng & Cải Thiện Lỗ Chân Lông Clarifique 125ml

				</h5>
				<p style="color: coral">1.500.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Kiehl'sRare.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">

					Mặt nạ đất sét Kiehl's Rare Earth Deep Pore Cleansing Masque 28ml

				</h5>
				<p style="color: coral">550.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Kiehl'sCalendula.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa rửa mặt tạo bọt làm sạch sâu Kiehl 's Calendula 230ml

				</h5>
				<p style="color: coral">955.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/BelifCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Belif The True Cream Aqua Bomb 50ml

				</h5>
				<p style="color: coral">818.400đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RetinolLuna.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu dưỡng da Retinol ban đêm Luna Sleeping Night Oil

				</h5>
				<p style="color: coral">2.400.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/MACGlowPlay.png" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Son dưỡng MAC GlowPlay Tendertalk Lip Balm

				</h5>
				<p style="color: coral">645.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/JmellaBodyWash.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa Tắm Dưỡng Ẩm Hương Nước Hoa Jmella In France Body Wash

				</h5>
				<p style="color: coral">165.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/SheaButter.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sữa Dưỡng Thể Giàu Ẩm Bơ Đậu Mỡ Shea Butter Rich Body Lotion

				</h5>
				<p style="color: coral">1.050.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/RmonWhiteCream.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Kem Dưỡng Trắng Da Body Tế Bào Gốc Rmon White Cream

				</h5>
				<p style="color: coral">449.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/PaulaChoice.jpg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Paula Choice - 2%BHA body treatment

				</h5>
				<p style="color: coral">774.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/ArtichokeScrub.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Tẩy Tế Bào Chết Toàn Thân Chiết Xuất Lá Atisô Artichoke Body Scrub

				</h5>
				<p style="color: coral">1.364.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Clarins.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Kem dưỡng thể Body Lotion Clarins 300ml
				</h5>
				<p style="color: coral">490.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Neutrogena.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Sẵn Dưỡng thể Neutrogena Body Oil Light Seasame Formula
				</h5>
				<p style="color: coral">250.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Kerastate.jpg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu Xả Kérastase Nutritive Dưỡng Ẩm Cho Tóc Khô 200ml
				</h5>
				<p style="color: coral">939.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/LivingProofPer.jpeg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu gội khô LIVING PROOF Perfect hair Day (PhD) Dry Shampoo
				</h5>
				<p style="color: coral">750.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Redken.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Tinh Chất Xịt Phục Hồi Tóc Hư Tổn Redken Extreme Anti-Snap Leave-In Treatment
				</h5>
				<p style="color: coral">1.050.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/Bumble&Bumble.webp" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Bộ dầu gội Bumble And Bumble Hairdresser's Invisible Oil Shampoo and Conditioner Duo
				</h5>
				<p style="color: coral">1.060.000đ</p>
			</a>
		</div>
	</div>


	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/AmikaHydro.jpeg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Mặt nạ ủ tóc Amika Hydro Rush Intense Moisture Hair Mask with Hyaluronic Acid 500ml
				</h5>
				<p style="color: coral">1.590.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/VerbDandruff.jpeg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu gội giảm gàu Verb Dandruff Shampoo with Salicylic Acid 235ml
				</h5>
				<p style="color: coral">650.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/VerbHydrate.jpeg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu dưỡng ẩm tóc Verb Hydrate Oil 60ml
				</h5>
				<p style="color: coral">590.000đ</p>
			</a>
		</div>
	</div>

	<div class="col-3">
		<div class="container" style="padding: -5px">
			<a href="/Product" style="text-decoration: none">
				<img src="~/img/Product/ColorWow.jpeg" class="container-fluid hoverimg" />
				<h5 class="text-truncate">
					Dầu gội COLOR WOW Color Security Shampoo 250ml
				</h5>
				<p style="color: coral">750.000đ</p>
			</a>
		</div>
	</div>

</div>






