<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="~/css/site.css" rel="stylesheet" />

	<title>Orione Beauty</title>
</head>
<body>
	<div style="background-color: #EDEFF0">
		<div style="background-color: #FF8A8C;">
			<div class="container-fluid" style="padding: 0px 180px; padding-top: 15px; padding-bottom: 10px">
				<div class="row">
					<div class="col-4">
						<a href="/Home" style="text-decoration: none">
							<div class="row">
								<img class="col-3" src="~/img/logo-white.png" height="50" width="50" />
								<h5 class="col-9" style="color: white; padding-top: 10px">ORIONE BEAUTY</h5>
							</div>
						</a>
					</div>
					<div class="container col-5">
						<div class="row">
							<div class="col-md-5">
								<div class="search-container">
									<input type="text" class="form-control search-input" placeholder="Tìm kiếm">
									<i class="fas fa-search search-icon"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3" style="padding-top: 5px">
						<a href="/Login" style="text-decoration: none; color: white"><img src="~/img/account-icon.png" height="30px" width="30px" /> Đăng nhập </a>
						<a href="/Login/Register" style="text-decoration: none; color: white"><img src="~/img/cart-logo.png" height="30px" width="30px" /> Giỏ hàng</a>
					</div>
				</div>
			</div>
		</div>

		<div style="background-color: #FF8107">
			<div class="container-fluid" style="padding: 0px 180px;">
				<div class="d-flex">
					<div class="dropdown">
						<button type="button" id="ListButton" aria-expanded="false" class="btn listbtn dropdown-toggle" data-bs-toggle="dropdown" style="color: white">
							<img src="~/img/list-47-512.png" height="30px" width="30px" />Danh mục
						</button>
						<ul class="dropdown-menu" aria-labelledby="ListButton">
							<li><a class="dropdown-item" href="/List">Tất cả sản phẩm</a></li>
							<li><a class="dropdown-item" href="/List/Cate1">Makeup </a></li>
							<li><a class="dropdown-item" href="/List/Cate2">Chăm sóc da mặt </a></li>
							<li><a class="dropdown-item" href="/List/Cate3">Chăm sóc cơ thể </a></li>
							<li><a class="dropdown-item" href="/List/Cate4">Chăm sóc tóc </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div style="padding: 0px 180px;">
			<div class="container bg-white" style="margin-top: 20px;">
				<h5 style="color: #FF8A8C; padding-left: 20px; padding-top: 10px; font-weight: bold">HOT DEAL</h5>
				<div class="container horizontal-scrollbar">
					<div class="row flex-nowrap">
						<div class="col-2">
							<a href="/Product/YSL153" style="text-decoration: none; color: black">
								<img src="~/img/makeup/YSL153.png" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Son YSL 153 Chili Provocation</p>
								<p style="color: red; font-weight: bold">830.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product/YSL1968BOLD" style="text-decoration: none; color: black">
								<img src="~/img/makeup/YSL1968BOLD.png" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Son YSL The Bold 1968 Statement</p>
								<p style="color: red; font-weight: bold">950.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/CSHDIOR.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Cushion Dior Forever Perfect Cushion Diormania Gold</p>
								<p style="color: red; font-weight: bold">1.299.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/CHANELCCCREAM.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Kem Nền Chanel CC Cream Complete Correction SPF50 30ML</p>
								<p style="color: red; font-weight: bold">1.499.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/KIEHL'SCA.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> KIEHL'S Sữa rửa mặt tạo bọt làm sạch sâu Kiehl 's Calendula 230ml</p>
								<p style="color: red; font-weight: bold">951.200đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/RETINOLLUNA.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Dầu dưỡng da Retinol ban đêm Luna Sleeping Night Oil</p>
								<p style="color: red; font-weight: bold">2.400.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/MILKALBION.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Sữa dưỡng trắng da JOUIR WHITENING BODY MILK ALBION 300ml</p>
								<p style="color: red; font-weight: bold">1.900.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/BODIANCE.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Kem dưỡng thể trắng da Bodiance Premium Body Brightening Tone Up Cream</p>
								<p style="color: red; font-weight: bold">515.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/LIVINGPROOF.jpeg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Dầu gội khô LIVING PROOF Perfect hair Day (PhD) Dry Shampoo</p>
								<p style="color: red; font-weight: bold">750.000đ</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container bg-white" style="margin-top: 20px;">
				<h5 style="color: #FF8A8C; padding-left: 20px; padding-top: 10px; font-weight: bold">SẢN PHẨM MỚI</h5>
				<div class="container horizontal-scrollbar">
					<div class="row flex-nowrap">
						<div class="col-2">
							<a href="/Product/YSL153" style="text-decoration: none; color: black">
								<img src="~/img/makeup/YSL153.png" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Son YSL 153 Chili Provocation</p>
								<p style="color: red; font-weight: bold">830.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product/YSL1968BOLD" style="text-decoration: none; color: black">
								<img src="~/img/makeup/YSL1968BOLD.png" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Son YSL The Bold 1968 Statement</p>
								<p style="color: red; font-weight: bold">950.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/CSHDIOR.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Cushion Dior Forever Perfect Cushion Diormania Gold</p>
								<p style="color: red; font-weight: bold">1.299.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/CHANELCCCREAM.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Kem Nền Chanel CC Cream Complete Correction SPF50 30ML</p>
								<p style="color: red; font-weight: bold">1.499.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/KIEHL'SCA.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> KIEHL'S Sữa rửa mặt tạo bọt làm sạch sâu Kiehl 's Calendula 230ml</p>
								<p style="color: red; font-weight: bold">951.200đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/RETINOLLUNA.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Dầu dưỡng da Retinol ban đêm Luna Sleeping Night Oil</p>
								<p style="color: red; font-weight: bold">2.400.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/MILKALBION.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Sữa dưỡng trắng da JOUIR WHITENING BODY MILK ALBION 300ml</p>
								<p style="color: red; font-weight: bold">1.900.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/BODIANCE.jpg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Kem dưỡng thể trắng da Bodiance Premium Body Brightening Tone Up Cream</p>
								<p style="color: red; font-weight: bold">515.000đ</p>
							</a>
						</div>
						<div class="col-2">
							<a href="/Product" style="text-decoration: none; color: black">
								<img src="~/img/makeup/LIVINGPROOF.jpeg" height="200px" width="200px" class="hoverimg" />
								<p class="text-truncate"> Dầu gội khô LIVING PROOF Perfect hair Day (PhD) Dry Shampoo</p>
								<p style="color: red; font-weight: bold">750.000đ</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container bg-white" style="margin-top: 20px;  padding-bottom: 10px;">
				<h5 style="color: #FF8A8C; padding-left: 20px; padding-top: 10px; font-weight: bold">Thương hiệu</h5>
				<div class="container text-center my-3">
					<div class="row mx-auto my-auto justify-content-center">
						<div id="brandCarousel" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/kiehls.png" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/bodiance.jpg" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/chanel.png" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/logo-dior-2.png" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/YSL-logo.webp" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/retinol.jpg" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="col-3">
										<div class="card">
											<div class="card-img">
												<img src="~/img/brand/livingproof.png" class="img-fluid" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container bg-white">
				<div style="margin-top: 20px">
					<div class="container-fluid">
						<div class="row">
							<div class="col-6">
								<h5 style="color: black; padding-left: 20px; padding-top: 10px">Makeup</h5>
								<div style="padding: 0px 10px; margin-bottom: 20px">
									<a href="/List" style="text-decoration: none; color: white">
										<img src="~/img/theme/makeup.webp" class="rounded-4 img-fluid" />
									</a>
								</div>
							</div>
							<div class="col-6">
								<h5 style="color: black; padding-left: 20px; padding-top: 10px">Chăm sóc da mặt</h5>
								<div style="padding: 0px 10px; margin-bottom: 20px">
									<a href="/List" style="text-decoration: none; color: white">
										<img src="~/img/theme/Face.jpg" class="rounded-4 img-fluid" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-6">
								<h5 style="color: black; padding-left: 20px; padding-top: 10px">Chăm sóc cơ thể</h5>
								<div style="padding: 0px 10px; margin-bottom: 20px">
									<a href="/List" style="text-decoration: none; color: white">
										<img src="~/img/theme/da.png" class="rounded-4 img-fluid" />
									</a>
								</div>
							</div>
							<div class="col-6">
								<h5 style="color: black; padding-left: 20px; padding-top: 10px">Chăm sóc tóc</h5>
								<div style="padding: 0px 10px; margin-bottom: 20px">
									<a href="/List" style="text-decoration: none; color: white">
										<img src="~/img/theme/Hair.jpg" class="rounded-4 img-fluid" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div>
			@RenderBody()
		</div>

		<div class="bg-white" style="padding-top: 20px">
			<div style="padding: 0px 180px">
				<div class="row" style="padding: 0px 10px">
					<div class="col-3">
						<p style="font-weight: bold; color: black; font-size: small">Hỗ trợ khách hàng</p>						
						<a href="#" style="text-decoration: none; color: black; font-size: small">Các câu hỏi thường gặp </a> <br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Gửi yêu cầu hỗ trợ </a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Hướng dẫn đặt hàng </a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Phương thức vận chuyển </a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Chính sách đổi trả </a><br />
					</div>
					<div class="col-3">
						<p style="font-weight: bold; color: black; font-size: small">Về chúng tôi</p>
						<a href="#" style="text-decoration: none; color: black; font-size: small">Giới thiệu Orione Beauty</a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Chính sách bảo mật </a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Điều khoản sử dụng </a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small">Liên hệ </a>					<br />
					</div>
					<div class="col-3">
						<p style="font-weight: bold; color: black; font-size: small">Theo dõi Orione Beauty</p>
						<a href="#" style="text-decoration: none; color: black; font-size: small"><img src="~/img/Facebook_Logo_Secondary.png" width="20" height="20" /> Facebook</a><br />
						<a href="#" style="text-decoration: none; color: black; font-size: small"><img src="~/img/Instagram_Glyph_Black.png" width="20" height="20" /> Instagram </a>		<br />
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="~/js/site.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
